/*------------------------------------------------------------
	Jaime Williams 368-Final I used the following framework
	which is a combination of the nest site and the attribution below.

	Style.css
	Created by:	Dave Rupert
	Contact:		http://github.com/davatron5000/foldy960
	Copyright 2012
	License:	  WTFPL + "Not going to maintain this because
              the rent is too damn high licence."

--------------------------------------------------------------*/

/* Responsive Resets
-------------------------------------------------------------- */
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}

html {
	overflow-y: auto;
  	background-image: url("../img/paper_1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

img,
audio,
video,
canvas {
  max-width: 100%;
}
 a {
 	text-decoration: none;
 }

/* Grid > 6 Column Mobile First
-------------------------------------------------------------- */
.container {
  /*
    The `max-width` property is the width governer. I dare you to experiment
    with setting this larger, something like 1280px.
  */
	max-width: 1280px;
	width:92%;
	margin:0px auto;
	position: relative;
}
/*==============================
	Global
==============================*/
@font-face {
    font-family: "droid-sans";
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "pragmatica-web-condensed";
    font-weight: normal;
    font-style: normal;
}
h1 {
	font-weight: bold;
	margin: .5em 0;
}
p {
    font-family: "garamond-premier-pro-caption";
	
    line-height: 1.5em;
}

.logo {
 z-index: 1;
}

/* Headings */
.about h2,
.students h2,
.contact h2 {
    font-family: "pragmatica-web-condensed", arial, sans-serif;
    font-size: 2.5em;
    letter-spacing: 6px;
}


/*==============================
	Structure & Layout 
==============================*/


/* Push down content below navigation */
article {
	clear: left;
	/* background-color: red; */	
	margin-bottom: 3%;
	padding-bottom: 2%;
}
footer {
	background-color: rgba(51,102,102,0.5);
	border-radius: 10px 10px 20px 20px;
	box-shadow: inset 0px 0px 10px 2px #666;

}
.social {
	float: left;
	/*background-color: #c30;*/
}
.helpful {
	float: left;
	/*background-color: #996;*/
}

/*==============================
	Logo
==============================*/

.logo {
 margin-top: 2%;
 margin-left: 1.5%;
}

header  a:hover {
	margin-bottom:20%;
}


/*==============================
	Navigation
==============================*/
header {
	position: relative;
}

header li {
	float: left;
	list-style: none;
	margin: 0 10px;
}

/* Remove inherited margin on <ul> */
header ul {
	margin: 0;
}

/* Push links far right w/o floats */
nav li:nth-child(1) {
	margin-left: 15%;
}

nav {
	float:right;
	background-color: rgba(51,102,102,0.5);	
	border-radius: 20px 20px 10px 10px;
    height: 64px;
	position: absolute;
	left: 0;
	top: 18%;
	margin-left: 30%;
	width: 50%;
	
	/* CSS3 */
	box-shadow: inset 0px 0px 10px 2px #666;
}

header nav a:link,
header nav a:visited {
	color: #fff;
    display: block;
    font-family: "droid-sans";
	height: 32px;
	line-height: 1.5em;
	text-align: right;	
	text-decoration: none;
	text-transform: uppercase;
	width: 32px; 
	 
	/* padding-left: 30%; */
	
	/*CSS 3*/
	transition: all .5s;
	width: 10%;
}

nav a:hover, 
nav a:active {
    color: #00ccff;
	margin-top: 10px;
}

/*==============================
	Navigation: Sprite Map
==============================*/
/* About Link Off State*/
nav ul li:nth-child(1) a:link {
    background: url("../img/spriteMap.png") no-repeat;
	
    width: 64px; 
	height: 64px; 
	
    background-position: -382.5px -0px; 
	  
}

nav ul li:nth-child(1) a:hover {
    background: url("../img/spriteMap.png") no-repeat;
	
    width: 64px; 
	
    height: 64px; 
	
    background-position: -382.5px -64px; 
}

/* Contact Link */
nav ul li:nth-child(2) a:link {
    background: url("../img/spriteMap.png") no-repeat 0;
	
    width: 64px; 
	height: 64px; 
	background-position: -120px -0px;
}

nav ul li:nth-child(2) a:hover {
    background: url("../img/spriteMap.png") no-repeat;
	width: 64px; 
	height: 64px;
	background-position: -120px -64px;
}

/* Search Link */
nav ul li:nth-child(3) a:link {
    background: url("../img/spriteMap.png") no-repeat;
	
    width: 64px; 
	
    height: 64px; 
	background-position: -314.5px -0px;
}

nav ul li:nth-child(3) a:hover {
    background: url("../img/spriteMap.png") no-repeat;
	width: 64px; 
	height: 64px; 
	background-position: -314.5px -62px;
}

/*==============================
	Navigation: Page Indicators
==============================*/
.about ul li:nth-child(1), 
.contact ul li:nth-child(2),
.search ul li:nth-child(3){
	background: rgba(255,255,255,.15);
}
/*==============================
	index Page
==============================*/
/*title*/
.title {
	font-size: 2em;
	margin-left: 3%;
	margin-bottom: %;
}
/*contents menu*/
.contents {
    /* background-color: #ACAC1C; */
}
.contents ul {
	font-weight: bold;
	font-size: 1.2em;
	list-style-type: none;
	background-color: coral;
	background-size: 100%;
}
.contents ul li {
	float:left;
	margin-right: 2%;
	margin-bottom: 2%;
	background-color: darkkhaki;
	padding: 1.1%;
	text-align: center;
	width: 18%;
	/* box-sizing: content-box; */
	border-radius: 10px;
	box-shadow: inset 0px 0px 10px 2px #888;
}
.contents ul li a {
	text-decoration: none;
}

.contents a:hover, 
.contents a:active {
    color: #00ccff;
	margin-top: 10px;
}
/*intro*/

.introText {
	/* background-color: blue; */
	float: left;
	margin: 3% 3%;
	/* width:45%; */
	font-size: 1.5em;
}
/*==============================
	Introduction Page
==============================*/
.introText-col-1 {
	/* background-color: blue; */
	width: 38%;
	float: left;
	margin: 0 3%; 
	font-size: 1.5em;
}
.introText-col-2 {
	/* background-color: blue; */
	width: 38%;
	float: left;
	margin: 0 3%;
	font-size: 1.5em;
}

/*==============================
	About Page
==============================*/

.about section {
	float: left;
	margin-left: 40px;
	width: 420px;
}

.about section h2 {
    margin-left: -40px;
}

.introTextAbout {
	float:left;
	width: 45%;
	margin-left: 3%;
	font-size: 1.5em;
}

/*.container {
	overflow-y: auto;
  	background-image: url("../img/infernoEagle.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}*/
/*==============================
	Gallery Theme - Customize
==============================*/

.gallery .control-button {
  color: #00ccff;
  color: rgba(0, 204, 255, 0.4);
}

.gallery .control-button:hover {
   color: #00ccff;
  color: rgba(0, 204, 255, 1);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
	float: left;
  position: relative;
	margin-bottom: 5%;
}
.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
  background: #4d87e2;
}
.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}

/*==============================
	Contact Page
==============================*/
.contact article section {
	float: left;
	margin-left: 10px;
	width: 310px;
}

.contact td {
	padding: 10px 4px;
}

.contact tr:nth-child(even)  {
	background: #ccc;
}

label {
	display: block;
}
/*==============================
	Syntax main Page
==============================*/
aside .syntaxSubMenu {
	clear: both;
	float:left;	
}
.syntaxSubMenu ul {
	list-style: none;
}
.syntaxSubMenu ul {
	font-weight: bold;
	font-size: 1.2em;
	list-style-type: none;
	background-size: 100%;
}
.syntaxSubMenu ul li {
	clear:both;
	margin-right: 5%;
	margin-bottom: 2%;
	/*background-color: darkkhaki;*/
	padding: 7% 1%;
	text-align: center;

	/*border-radius: 10px;*/
	box-shadow: inset 0px 0px 10px 2px #888;
}
.syntaxSubMenu ul a li {
	text-decoration: none;
}

.syntaxSubMenu a:hover, 
.syntaxSubMenu a:active {
    color: #00ccff;
	margin-top: 10px;
}
.syntaxSubMenu ul li:nth-child(1) a:link {
    background: url("../img/2.1.png") no-repeat;
	  
}
/*==============================
	Syntax Priority Page
==============================*/

.synPriority h1 {
	
	background-image: url(../img/2.5.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;	
	border-radius: 40px;
	box-shadow:  2px 1px 3px 2px rgba(777, 777, 777, .5);
	font-size: 1.5em;	
	height: 3em;
	text-align: -webkit-center;
	padding-top: 9%;
	padding-left: 35%;
}

strong {
	font-weight: bold; 
}

em {
	font-style: italic; 
}

table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 900px;
}	

th {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

tr {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}

tr:nth-child(odd) td {
	background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}

tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	

tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}
/*==============================
	Syntax Selector Page
==============================*/
.selectorText-col-1 {
	font-size: 1.5em;
	float: left;
	width:37%;
	margin-left: 3%;
}
.selectorText-col-2 {
	font-size: 1.5em;
	float: left;
	width:37%;
	margin-left: 3%;
}
/*==============================
	Syntax Use Page
==============================*/
.useText-col-1 {
	font-size: 1.5em;
	float: left;
	width:60%;
	margin-left: 3%;
}
.useText-col-2 {
	font-size: 1.5em;
	float: left;
	width:33.3333%;
	margin-left: 3%;
}
.useImage {
	float: left;
	width:40%;
	margin-left: 3%;
	margin-top: 3%;
}
/*==============================
	browserSupport Page
==============================*/
.browserSupport-col-1 {
	float: left;
	width:42%;
}
.browserSupport-col-2 {
	float: left;
	width:42%;
}


/*==============================
	footer
==============================*/
footer {
	clear: left;
	float: left;
	margin-left: 1.5%;

}
footer ul {
	list-style: none;
}

.helpful a:link,
.helpful a:visited {
	color: #fff;
	display: block;
    font-family: "droid-sans";
    float:left;
	height: 32px;
	line-height: 1.5em;
	margin-left: 12%;
	text-align: right;
	text-decoration: none;	
	text-transform: uppercase;
	width: 70px; 

	/*CSS 3*/
	transition: all .5s;
	width: 10%;
}
.social a:link,
.social a:visited {
	color: #fff;
	display: block;
    font-family: "droid-sans";
    float:left;
	height: 32px;
	line-height: 1.5em;
	margin-left: 2%;
	text-align: right;
	text-decoration: none;	
	text-transform: uppercase;
	width: 70px; 
	 
	/* padding-left: 30%; */
	
	/*CSS 3*/
	transition: all .5s;
	width: 10%;
}


footer a:hover, 
footer a:active {
    color: #00ccff;
	margin-top: 10px;
}

/*==============================
	footer: Sprite Map
==============================*/
/* Codepen Link */
.helpful ul li:nth-child(1) a:link {
    background: url("../img/spriteMap.png") no-repeat;
	width: 77px; 
	height: 56px; 
	background-position: -439.5px -192px; 	  
}
/* github Link */
.helpful ul li:nth-child(2) a:link {
    background: url("../img/spriteMap.png") no-repeat 0;
	width: 77px; 
	height: 65px; 
	background-position: -439.5px -62px;
}
/* teamtreehouse Link */
.helpful ul li:nth-child(3) a:link {
    background: url("../img/spriteMap.png") no-repeat;
	width: 77px; 
	height: 65px; 
	background-position: -439.5px -127px;
}
/* manikoth Link */
.helpful ul li:nth-child(4) a:link {
    background: url("../img/spriteMap.png") no-repeat;
	width: 77px; 
	height: 62px; 
	background-position: -439.5px -0px;
}
/* fb Link*/
.social ul li:nth-child(1) a:link {
    background: url("../img/spriteMap.png") no-repeat;
	width: 57px; 
	height: 62px; 
	background-position: -516.5px -0px; 	  
}
/* twitter Link */
.social ul li:nth-child(2) a:link {
    background: url("../img/spriteMap.png") no-repeat 0;
	width: 57px; 
	height: 65px; 
	background-position: -516.5px -62px;
}
/* gplus Link */
.social ul li:nth-child(3) a:link {
    background: url("../img/spriteMap.png") no-repeat;
	width: 57px; 
	height: 65px; 
	background-position: -516.5px -127px;
}
/*==============================
	small screenSize
==============================*/
@media screen and (min-width: 640px) {
  .grid-1     { width: 13.636363636364%; }
  .grid-2     { width: 20.30303030303%; }
  .grid-3,
  .grid-half  { width: 46.969696969697%; }
  .grid-4     { width: 63.636363636364%; }
  .grid-5     { width: 80.30303030303%; }
  .grid-6,
  .grid-full  { width: 96.969696969697%; }

  .gallery .grid-unit {
    width: 30.30303030303%;
  }

  .content-pad-right {
    padding-right: 4%; /* Use (or don't) as necessary. */
  }

  .content-pad-left {
    padding-left: 4%;
  }

}