/*------------------------------------------------------------

	Style.css

	Created by:	Dave Rupert
	Contact:		http://github.com/davatron5000/foldy960

	Copyright 2012
	License:	  WTFPL + "Not going to maintain this because
              the rent is too damn high licence."

--------------------------------------------------------------*/

/* Responsive Resets
-------------------------------------------------------------- */
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}

html {
	overflow-y: auto;
  	background-image: url("../img/paper_1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

img,
audio,
video,
canvas {
  max-width: 100%;
}

/* Grid > 6 Column Mobile First
-------------------------------------------------------------- */
.container {
  /*
    The `max-width` property is the width governer. I dare you to experiment
    with setting this larger, something like 1280px.
  */
	max-width: 1280px;
	width:92%;
	margin:0px auto;
	position: relative;
}
/*==============================
	Global
==============================*/
@font-face {
    font-family: "droid-sans";
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "pragmatica-web-condensed";
    font-weight: normal;
    font-style: normal;
}


p {
    font-family: "garamond-premier-pro-caption";
	line-height: 24px;
}
.logo {
 z-index: 1;
}
/* Headings */
.about h2,
.students h2,
.contact h2 {
    font-family: "pragmatica-web-condensed", arial, sans-serif;
    font-size: 2.5em;
    letter-spacing: 6px;
}


/*==============================
	Structure & Layout 
==============================*/


/* Push down content below navigation */
article {
	clear: left;
	/* background-color: red; */	
	margin-bottom: 3%;
	padding-bottom: 2%;
}

footer {
	clear: left;
	float: left;
	display: block;
	margin-left:3%;
}

.social {
	float: left;
	background-color: #c30;
}
.helpful {
	float: left;
	background-color: #996;
}

/*==============================
	Logo
==============================*/

.logo {
 margin-top: 2%;
 margin-left: 5%;
}
header  a:hover {
	margin-bottom:20%;
}


/*==============================
	Navigation
==============================*/
header {
	position: relative;
}

header li {
	float: left;
	list-style: none;
	margin: 0 10px;
}

/* Remove inherited margin on <ul> */
header ul {
	margin: 0;
}

/* Push links far right w/o floats */
nav li:nth-child(1) {
	margin-left: 15%;
}

nav {
	float:right;
	background: #336666;	
	border-radius: 10px 0 10px 0;
    height: 64px;
	position: absolute;
	left: 0;
	top: 18%;
	margin-left: 30%;
	width: 50%;
	
	/* CSS3 */
	box-shadow: inset 0px 0px 10px 2px #333;
}

header nav a:link,
header nav a:visited {
	color: #fff;
    font-family: "droid-sans";
	display: block;
	line-height: 1.5em;
	text-align: right;	
	text-decoration: none;
	text-transform: uppercase;
	width: 32px; 
	height: 32px; 
	/* padding-left: 30%; */
	
	/*CSS 3*/
	transition: all .25s;
	width: 10%;
}

nav a:hover, 
nav a:active {
    color: #00ccff;
	margin-top: 10px;
}

/*==============================
	Navigation: Sprite Map
==============================*/
/* About Link Off State*/
nav ul li:nth-child(1) a:link {
    background: url("../img/spritemap.png") no-repeat;
	
    width: 64px; 
	height: 64px; 
	
    background-position: -382.5px -0px; 
	  
}

nav ul li:nth-child(1) a:hover {
    background: url("../img/spritemap.png") no-repeat;
	
    width: 64px; 
	
    height: 64px; 
	
    background-position: -382.5px -64px; 
}

/* Contact Link */
nav ul li:nth-child(2) a:link {
    background: url("../img/spritemap.png") no-repeat 0;
	
    width: 64px; 
	height: 64px; 
	background-position: -120px -0px;
}

nav ul li:nth-child(2) a:hover {
    background: url("../img/spritemap.png") no-repeat;
	width: 64px; 
	height: 64px;
	background-position: -120px -64px;
}

/* Search Link */
nav ul li:nth-child(3) a:link {
    background: url("../img/spritemap.png") no-repeat;
	
    width: 64px; 
	
    height: 64px; 
	background-position: -314.5px -0px;
}

nav ul li:nth-child(3) a:hover {
    background: url("../img/spritemap.png") no-repeat;
	width: 64px; 
	height: 64px; 
	background-position: -314.5px -62px;
}


/*==============================
	Navigation: Page Indicators
==============================*/
.about ul li:nth-child(1), 
.contact ul li:nth-child(2),
.search ul li:nth-child(3){
	background: rgba(255,255,255,.15);
}

/*==============================
	About Page
==============================*/
.about section {
	float: left;
	margin-left: 40px;
	width: 420px;
}

.about section h2 {
    margin-left: -40px;
}

/*==============================
	Students Page
==============================*/
.members li {
	float: left;
	list-style: none;
	margin: 20px 0 0 20px;
	position: relative;
	width: 440px;
}

/* Create Ribbons */
.members h3 {
    background: #666;
	bottom: 20px;    
    color: #fff;
    font-family: "pragmatica-web-condensed", arial, sans-serif;
    padding: 10px;
	position: absolute;
    	
	/* CSS 3*/
	box-shadow: 0 10px 20px #222;
}

/* Alternate Ribbons Left/Right */
.members li:nth-child(odd) h3 {	
	left: -20px;
}

.members li:nth-child(even) h3 {
	right: 0px;
}

/* Create Ribbon Triangle */
.members h3:after {
	content: "";
	position: absolute;
	display: block;
	border-style: solid;
	border-color: #333 transparent transparent transparent;
	bottom: -40px;
	border-width: 20px;
	z-index: -1;
}

/* Alternate Ribbons Left/Right */
.members li:nth-child(odd) h3:after {	
	left: 0;
}

.members li:nth-child(even) h3:after {
	right: 0px;
}

.members img {
	width: 420px;
}

/*==============================
	index Page
==============================*/

.title {
	font-size: 2em;
	margin-left: 3%;
}

.contents {
	background-color: green;
	float: left;
	margin-left: 3%;
	margin-top: 3%;
	width: 45%;	
}

.introText {
	background-color: blue;
	margin: 3% 3%;
	float: left;
	width:45%;
}

.moreContents {
	background-color: aqua;
	clear:left;
	/* float: left; */
	width:45%;
	margin: 3% 3%;
}

/*==============================
	Contact Page
==============================*/

.contact article section {
	float: left;
	margin-left: 10px;
	width: 310px;
}

.contact td {
	padding: 10px 4px;
}

.contact tr:nth-child(even)  {
	background: #ccc;
}

label {
	display: block;
}

/*==============================
	Gallery Theme - Customize
==============================*/

.gallery .control-button {
  color: #00ccff;
  color: rgba(0, 204, 255, 0.4);
}

.gallery .control-button:hover {
   color: #00ccff;
  color: rgba(0, 204, 255, 1);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
}
.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
  background: #4d87e2;
}
.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}
@media screen and (min-width: 640px) {
  .grid-1     { width: 13.636363636364%; }
  .grid-2     { width: 20.30303030303%; }
  .grid-3,
  .grid-half  { width: 46.969696969697%; }
  .grid-4     { width: 63.636363636364%; }
  .grid-5     { width: 80.30303030303%; }
  .grid-6,
  .grid-full  { width: 96.969696969697%; }

  .gallery .grid-unit {
    width: 30.30303030303%;
  }

  .content-pad-right {
    padding-right: 4%; /* Use (or don't) as necessary. */
  }

  .content-pad-left {
    padding-left: 4%;
  }

}